name: .NET

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore Console App
      run: dotnet restore app/ConsoleApp1/ConsoleApp1.csproj

    - name: Restore Tests
      run: dotnet restore app/TestProject1/TestProject1.csproj

    - name: Build
      run: dotnet build app/TestProject1/TestProject1.csproj --no-restore

    - name: Test
      run: dotnet test app/TestProject1/TestProject1.csproj --no-build --verbosity normal
